/* Reset css */
html {
    background-color: #000;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Helvetica, sans-serif;
}

/* container */
.container {
    width: 90%;
    margin: 0px auto;
    border: 1 px solid white;
}

/* header */
header {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    color: #FFF;
    position: relative;
}

.line {
    display: block;
    width: 40px;
    height: 8px;
    background-color: #01A342;
    position: relative;
    margin-top: 10px;

    border-radius: 10px;
}

.nav-options li {
    display: inline;
}

.nav-options li {
    margin: 0 0 0 30px;
}

.nav-options li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    font-style: bold;
}
.nav-options li a:hover {
    color: #01A342;
}

.selected {
    color: #01A342;
}

/* Main */
main {
    background-image: url("/img/bg-texture-dark.jpg");
    margin: 10px auto;
    height: 700px;
    display: flex;
    justify-content: space-around;
}

.maincard1 {
    width: 50%;
}

.main-card1 .foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-card2 {
    width: 45%;
    padding: 50px;
    text-align: center;
    color: #fff;
}

.main-card2 h2 {
    font-size: 60px;
}
.main-card2 h5 {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 8px;
}
.main-card2 p {
    font-size: 20px;
    margin: 40px 20px 60px 20px;
    padding: 0 30px;
    text-align: justify;
    opacity: 0.8;
}
.saiba-mais {

    padding: 20px 40px;
    text-decoration: none;
    color: #000;
    background-color: #01A342;
    border-radius: 40px;
    opacity: 0.6;
}

.saiba-mais:hover {
    opacity: 1;
}


/* Responsividade */


/*small laptops a partir de 1100px */
@media (max-width: 1100px) {
}

/* Tablet 900px */
@media (max-width: 900px) {
    main {
        width: 95%;
    }
    .main-card2 h2 {
        font-size: 40px;
    }
    .main-card2 h5 {
        font-size: 13px;
    }
    .main-card2 p {
        font-size: 13px;
        margin: 20px 0px 50px 0px;
        text-align: center;
    }
}

/* Celular 650px*/
@media(max-width: 650px) {

    .header-title {
        font-size: 20px;
    }
    .nav-options li {
        margin: 0 0 0 10px;
    }
    .nav-options li a {
        font-size: 12px;
    }
    main {
        width: 100%;
        height: 100%;
        display: block;

    }
    .main-card2 {
        margin: 0 auto;
    }
    .main-card2 h2 {
        font-size: 40px;
        text-align: center;
    }
    .main-card2 h5 {
        font-size: 13px;
    }
    .main-card2 p {
        font-size: 13px;
        margin: 20px 0px 50px 0px;
        text-align: center;
    }
}